.container {
    width: 100%; 
    max-width: none; 
    margin: 0 auto;
    padding: 0 15px;
  }
  
  form {
    margin-top: 50px;
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group input[type="number"],
.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

  
  .image-upload {
    position: relative;
    margin-bottom: 20px;
  }
  
  .image-upload img.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-upload img.round-image:hover {
    opacity: 0.8;
  }
  
  .image-upload .change-image {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color:#1c3f98;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#1c3f98;
  }
  
  #footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  #footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1c3f98;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #3183da;
  }
  .image-upload label.change-image {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  
  .image-upload label.change-image img.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-upload label.change-image:hover img.round-image {
    opacity: 0.8;
  }
  